BODY{background-color: #f99271;}
h1{color:rgb(40, 10, 68)}
h2{color:rgb(155, 95, 95)}
img{width: 500px;}
.col{border: 3px solid green;}
.btnbtn-primary{ background-color: #21bc05; border: #21bc05;}
#menu{display:none ;}
