BODY{background-color: #f99271;}
h1{color:rgb(40, 10, 68)}
h2{color:rgb(155, 95, 95)}
img{width: 500px;}


menu{
    list-style-type: none;
}
menu > a > li{
    display: inline;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px ;
    background-color: rgb(0, 0, 0);
  }
#menu{display:none ;}
#logo-header{
    width: 50px 
}